@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
  --button-primary: #f45b60;
}

:root {
  --primary-bg: #ffffff;
  --fallback-bg: #f8f9fa;
  --color-primary: #0a1828;
  --color-secondary: #178582;
}

/* Global background color */
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  background-color: var(--primary-bg);
  height: 100%;
}

/* Reflection animation for button hover */
@keyframes reflection {
  0% {
    left: -100%;
  }
  62.5% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
