@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Montserrat", sans-serif;
}

:root {
  --primary-bg: #ffffff;
  --fallback-bg: #f8f9fa;
  --color-primary: #0a1828;
  --color-secondary: #178582;
}

/* Global background color */
body {
  font-family: var(--font-primary);
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  background-color: var(--primary-bg);
  height: 100%;
}
